<!DOCTYPE html>
<html class="notranslate" lang="{{lang}}">
<head>
  <meta name="google" content="notranslate">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="page-id" content="{{page-id}}">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <link rel="stylesheet" href="/core/css/reset.css?v={{version}}">
    <link rel="stylesheet" href="/core/css/icons.css?v={{version}}-icons-2">
  <link rel="stylesheet" href="/core/css/style.css?v={{version}}">
  {{page-css}}
  <link rel="icon" type="image/svg+xml" href="/core/img/favicon.svg">
</head>
<body data-page="{{page-id}}">

<div class="container"> 
<header class="header-app">
  <img src="/core/img/simeza-logo-w.svg" id="themeLogo" alt="Logo" class="logo-btn" onclick="toggleTheme()">
  
    <nav class="toolbar-nav">
        <ul id="toolbarList" class="nav-menu">
            {{menu}}
        </ul>
    </nav>

    <div class="header-actions">
        <div class="lang-selector">
            <button id="langBtn" onclick="toggleLangMenu()" aria-label="Select language">EN</button>
            <ul id="langMenu" class="lang-menu"></ul>
        </div>
    </div>
</header>

    <nav id="mobileMenu">
        <ul id="mobileMenuList">
        </ul>
    </nav>

<main id="content" class="content">
   {{page-content}}
</main>

<footer id="socialFooter"></footer>
</div>

<script src="/core/js/simeza.js?v={{version}}"></script>
{{page-js}}

</body>
</html>
